:root {
  /* Colors */

  --clr-light-purple: #9d98b8;
  --clr-accent-purple: #e9f0ff;
  --clr-dark-purple: #481446;
  --clr-accent-blue: #c0e1ee;
  --clr-accent-pink: #f57ae7;
  --clr-bg-yellow: rgba(255, 252, 229, 0.25);
  --clr-bg-accent-yellow: #fffce5;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-light-grey: #bbb;
  --clr-dark-grey: #444;
  --clr-box-shadow-grey: rgba(119, 117, 117, 0.212);

  /* typography */
  --fs-subaccent: 0.8rem;
  --fs-accent: 1rem; /* 21px */
  --fs-body: 1.25rem; /* 27.00px */
  --fs-subheading: 1.563rem; /* 37.31px */
  --fs-heading: 1.953rem; /* 49.74px */
  --fs-accent-header: 2.619rem;
  --fs-logo-base: 2.441rem; /* 66.30px */
  --fs-logo: clamp(var(--fs-subheading), 2.5vw, var(--fs-logo-base));

  --fw-bold: 700;

  --ff-normal: "parisine-std";
  --ff-normal-bold: "parisine-bold";
  --ff-accent: "botanica", "helvetica";

  /* vert line */
  --line-deco: 5rem;
  --deco-section-height: calc(5rem * 6);
}

@font-face {
  font-family: "botanica", "helvetica";
  src: url(./Fonts/botanica-webfont.woff);
}

@font-face {
  font-family: "parisine-std";
  src: url(./Fonts/Parisine\ Plus\ Std\ Clair.otf);
}

@font-face {
  font-family: "parisine-bold";
  src: url(./Fonts/Parisine\ Plus\ Std\ Clair\ Bold.otf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 131.3%;
}

h1 {
  font-family: "botanica";
  text-transform: uppercase;
  color: var(--clr-dark-purple);
}

p,
a,
h2,
h3,
li,
span,
.btn {
  font-family: "Parisine-std";
}

h2,
h3,
span,
.btn {
  font-family: "Parisine-bold";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-family: "parisine-std";
  font-size: var(--fs-body);
  line-height: 1.6;
}
strong {
  font-weight: var(--fw-bold);
}

/* utility */

.bg-fixed {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: var(--fs-accent);
  padding: 0.5rem 1rem;
  box-shadow: 0px 1.2rem 1.2rem var(--clr-box-shadow-grey);
  cursor: pointer;
  transition: all 0.8s;
}

.btn:hover,
.btn:active {
  background-color: var(--clr-bg-accent-yellow);
  color: var(--clr-accent-pink);
}

.alt-btn:hover,
.alt-btn:active {
  background-color: var(--clr-accent-blue);
  color: var(--clr-dark-purple);
  transform: translateY(-0.2rem);
  box-shadow: 0px 2.4rem 2.4rem var(--clr-light-grey);
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
  display: inline-block;
  padding: 0.75rem 1rem;
  background-color: var(--clr-light-purple);
  box-shadow: 6px 5px 0px var(--clr-light-grey);
  cursor: pointer;
  transition: all 0.4s;
}

.nav-btn:hover,
.nav-btn:active {
  background-color: var(--clr-accent-blue);
  box-shadow: 3px 2px 2px var(--clr-light-grey);
  color: var(--clr-white);
}

.logo-type {
  text-transform: uppercase;
  font-family: "botanica";
  font-size: var(--fs-logo);
  color: var(--clr-dark-purple);
  line-height: 1.6rem;
}

.subheading {
  font-family: "botanica";
  font-size: var(--fs-subheading);
  text-transform: uppercase;
  line-height: 1rem;
}

.heading-two {
  font-size: var(--fs-heading);
  color: var(--clr-dark-purple);
}

.decor-img {
  height: 150px;
  width: 150px;
}

.section-padding {
  /* padding-inline: 8rem; */
  padding-inline: min(5rem, 7rem);
}

.block-padding {
  padding-bottom: 8rem;
  padding-top: 4rem;
}

.flex-display {
  display: flex;
}

.flex-display-col {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.img-display {
  display: inline-block;
  object-fit: cover;
}

.relative-position {
  position: relative;
}

.absolute-position {
  position: absolute;
}

.center-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid {
  display: grid;
  margin: 0 auto;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-3-col {
  display: grid;
  grid-template-columns: 0.55fr 0.25fr 0.25fr;
}

.emphasis__pink-color {
  color: var(--clr-accent-pink);
  font-weight: var(--fw-bold);
}

.vert-line {
  border-right: 1px solid var(--clr-black);
  height: var(--line-deco);
}
