:root {
  /* Colors */

  --clr-light-purple: #9d98b8;
  --clr-accent-purple: #e9f0ff;
  --clr-dark-purple: #481446;
  --clr-accent-blue: #c0e1ee;
  --clr-accent-pink: #f57ae7;
  --clr-bg-accent-yellow: #fffce5;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-light-grey: #bbb;
  --clr-dark-grey: #444;
  --clr-box-shadow-grey: rgba(119, 119, 119, 0.3);

  /* typography */

  --fs-accent: 1rem; /* 21px */
  --fs-body: 1.25rem; /* 27.00px */
  --fs-subheading: 1.563rem; /* 37.31px */
  --fs-heading: 1.953rem; /* 49.74px */
  --fs-logo-base: 2.441rem; /* 66.30px */
  --fs-logo: clamp(var(--fs-subheading), 2.5vw, var(--fs-logo-base));

  --fw-bold: 700;
}

@font-face {
  font-family: "botanica", "helvetica";
  src: url(/Fonts/botanica-webfont.woff);
}

@font-face {
  font-family: "parisine-std";
  src: url(/fonts/Parisine\ Plus\ Std\ Clair.otf);
}

@font-face {
  font-family: "parisine-bold";
  src: url(/Fonts/Parisine\ Plus\ Std\ Clair\ Bold.otf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 131.3%;
}

/* @media (max-width: 68.57rem) and (min-width: 17.5rem) {
  html {
    font-size: 3.2vw;
  } */

h1 {
  font-family: "botanica";
  text-transform: uppercase;
  color: var(--clr-dark-purple);
}

a,
p,
a,
h2,
h3,
.btn {
  font-family: "Parisine-std";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-family: "parisine-std";
  font-size: var(--fs-body);
}

/* utility */

.btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: var(--fs-body);
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 3px 1px var(--clr-box-shadow-grey);
}

.logo-type {
  text-transform: uppercase;
  font-family: "botanica";
  font-size: var(--fs-logo);
  color: var(--clr-dark-purple);
}

.subheading {
  font-family: "botanica";
  font-size: var(--fs-subheading);
  text-transform: uppercase;
}

.heading-two {
  font-size: var(--fs-heading);
  color: var(--clr-dark-purple);
}

.decor-img {
  height: 150px;
  width: 150px;
}

.section-padding {
  padding-inline: 8rem;
}

.block-padding {
  padding-bottom: 5rem;
  padding-top: 3rem;
}
