@media screen and (max-width: 75em) {
  /* Utility */
  .section-padding {
    padding-inline: 1.8rem;
  }

  /* Nav */

  .nav-wrapper {
    padding-inline: 1.8rem;
    font-size: var(--fs-accent);
  }

  .nav-wrapper ul {
    gap: 1rem;
  }

  /* Homepage Hero */
  .hero-shape {
    width: 60vw;
    min-height: clamp(560px, 15vmax, 620px);
  }

  .hero-desc-text {
    width: 100%;
  }

  .hero-text-wrapper {
    justify-content: space-around;
  }

  /* about */

  .about-row {
    flex-direction: column;
    align-items: center;
  }

  /* Services */

  .services-wrapper {
    gap: 2.8rem;
  }
}

@media screen and (max-width: 67.5em) {
  /* Utility */
  .section-padding {
    padding-inline: 1.2rem;
  }

  /* About */

  .about-right {
    justify-content: center;
  }

  /* Services */

  .services-wrapper {
    gap: 2.8rem;
  }
}

@media screen and (max-width: 62.5em) {
  /* About */

  .about-list {
    display: flex;
    flex-direction: column;
  }
  .about-deco {
    display: none;
  }

  .about-para {
    width: 100%;
  }

  /* CTA */

  .cta-wrapper {
    padding-inline: 15%;
  }

  .cta-para {
    max-width: 100%;
  }

  .services-wrapper {
    flex-direction: column;
    margin-inline: 4rem;
    gap: 8rem;
  }

  /* footer */

  .grid-3-col {
    grid-template-columns: 1.5fr 1fr;
  }
  .footer-right-col {
    grid-column: span 2;
  }

  .footer-logo {
    width: 50%;
  }
}

@media screen and (max-width: 43.75em) {
  /* Homepage Hero */
  .hero-shape {
    width: 80vw;
    min-height: clamp(560px, 15vmax, 620px);
  }

  /* Services */
  .services-wrapper {
    margin-inline: 1.6rem;
  }

  /* testimonial */

  .testimonial-wrapper {
    padding-inline: 8%;
  }
}

@media screen and (max-width: 41.875em) {
  /* utility */
  .block-padding {
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  /* NAV */
  nav {
    position: absolute;
  }

  /* Homepage Hero */

  .hero-header {
    font-size: var(--fs-body);
  }
  .words {
    font-size: calc(var(--fs-logo) + 0.5rem);
  }

  .hero-shape {
    width: 100vw;
    min-height: calc(100% + 15.2rem);
    clip-path: none;
    top: 0;
  }

  .hero-desc-text {
    width: 100%;
  }

  .hero-text-wrapper {
    justify-content: space-around;
  }

  /* about */

  .about {
    padding-inline: 1.6rem;
  }

  /* testimonial */

  .testimonial-wrapper {
    padding-inline: 3%;
    border: none;
  }

  .testimonial-para:last-child {
    padding-bottom: 3.6rem;
  }

  .carousel-item {
    height: 500px;
    padding: 1rem;
    border: 1px solid rgba(5, 5, 5, 0.2);
  }

  /* Services */
  .services-wrapper {
    margin-inline: 0.8rem;
  }

  .service-list {
    font-size: var(--fs-body);
  }

  /* footer */

  .footer-span {
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .footer-logo {
    width: 100%;
  }

  .footer-list {
    padding-inline: 5%;
  }

  .grid-3-col {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;

    grid-template-areas:
      "a"
      "b"
      "c";
  }

  .footer-left-col {
    grid-area: a;
  }

  .footer-mid-col {
    grid-area: b;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
  }

  .footer-links-wrapper {
    align-content: center;
  }

  .footer-right-col {
    grid-area: c;
  }

  .footer-icon-social {
    display: none;
  }
}

@media screen and (max-width: 34.375em) {
  /* Utility */
  .section-padding {
    padding-inline: 0.6rem;
  }

  /* Service */
  .service-button {
    flex-direction: column;
    gap: 1rem;
    box-shadow: none;
  }

  .service-btn-rt,
  .service-btn-lt {
    border: 1px solid var(--clr-light-grey) !important;
    box-shadow: none !important;
  }

  /* Testimonial */
  .testimonial-wrapper {
    padding-inline: 1%;
    border: none;
  }

  .carousel-item {
    height: 700px;
  }

  /* Footer */

  .footer-icon-social,
  .footer-icon {
    display: none;
  }

  .footer-listed {
    text-align: center;
  }

  .footer-list,
  .social-wrapper,
  .link-wrapper {
    align-items: center;
  }
}

@media screen and (max-width: 30.625em) {
  /* Utility */
  .section-padding {
    padding-inline: 0.4rem;
  }

  .block-padding {
    padding-bottom: 6rem;
    padding-top: 4rem;
  }

  /* information */
  .information-para {
    width: auto;
    min-width: 17.5rem;
  }

  .deco-img-bg {
    transform: rotate(90deg);
    top: 25%;
    left: -35%;
  }

  /* CTA */

  .cta-wrapper {
    padding-inline: 5%;
  }

  /* Testimonial */
  .testimonial-wrapper {
    padding-inline: 1%;
    border: none;
  }
}

@media screen and (max-width: 24.375em) {
  /* information */

  /* about */

  .about {
    padding-inline: 0.2rem;
  }

  .about-subsection-top {
    padding: 1rem;
  }

  .about-subsection-heading {
    text-align: center;
  }

  /* Service */
  .service-desc {
    font-size: var(--fs-subheading);
  }

  .services-wrapper {
    gap: 4rem;
  }

  .block-padding {
    padding-bottom: 2rem;
  }

  /* footer */

  .footer-mid-col {
    flex-direction: column;
  }
}
