@media screen and (max-width: 75em) {
  /* Utility */
  .section-padding {
    padding-inline: 1.8rem;
  }

  /* Nav */

  .nav-wrapper {
    padding-inline: 1.8rem;
    font-size: var(--fs-accent);
  }

  .nav-wrapper ul {
    gap: 1rem;
  }

  /* Homepage Hero */
  .hero-shape {
    width: 60vw;
    min-height: clamp(560px, 15vmax, 620px);
  }

  .hero-desc-text {
    width: 100%;
  }

  .hero-text-wrapper {
    justify-content: space-around;
  }

  /* Services */

  .services-wrapper {
    gap: 2.8rem;
  }
}

@media screen and (max-width: 67.5em) {
  /* Utility */
  .section-padding {
    padding-inline: 1.2rem;
  }

  /* About */

  .about-row {
    padding-inline: 0.6rem;
  }

  /* Services */

  .services-wrapper {
    gap: 2.8rem;
  }
}

@media screen and (max-width: 62.5em) {
  /* About */
  .about-row {
    flex-direction: column;
    align-items: center;
  }

  .about-list {
    display: flex;
    flex-direction: column;
  }
  .about-deco {
    display: none;
  }

  .about-para {
    width: 100%;
  }

  /* CTA */

  .cta-wrapper {
    padding-inline: 15%;
  }

  .cta-para {
    max-width: 100%;
  }

  .services-wrapper {
    flex-direction: column;
    margin-inline: 4rem;
    gap: 8rem;
  }

  /* footer */

  .grid-3-col {
    grid-template-columns: 1.5fr 1fr;
  }
  .footer-right-col {
    grid-column: span 2;
  }

  .footer-logo {
    width: 50%;
  }
}

@media screen and (max-width: 43.75em) {
  /* Homepage Hero */
  .hero-shape {
    width: 80vw;
    min-height: clamp(560px, 15vmax, 620px);
  }

  /* Services */
  .services-wrapper {
    margin-inline: 1.6rem;
  }

  /* testimonial */

  .testimonial-wrapper {
    padding-inline: 8%;
  }
}

@media screen and (max-width: 41.875em) {
  nav {
    position: absolute;
  }

  /* Homepage Hero */

  .hero-header {
    font-size: var(--fs-body);
  }
  .words {
    font-size: calc(var(--fs-logo) + 0.5rem);
  }

  .hero-shape {
    width: 80vw;
    min-height: 600px;
  }

  .hero-desc-text {
    width: 100%;
  }

  .hero-text-wrapper {
    justify-content: space-around;
  }

  /* testimonial */

  .testimonial-wrapper {
    padding-inline: 3%;
    border: none;
  }

  .carousel-item {
    height: 500px;
    padding: 1rem;
    border: 1px solid rgba(5, 5, 5, 0.2);
  }

  /* footer */

  .footer-logo {
    width: 100%;
  }
}

@media screen and (max-width: 41.875em) {
  /* utility */

  .block-padding {
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  /* hero */
  .hero-shape {
    width: 100vw;
    min-height: calc(100% + 15.2rem);
    clip-path: none;
    top: 0;
  }

  /* Services */
  .services-wrapper {
    margin-inline: 0.8rem;
  }

  .service-list {
    font-size: var(--fs-body);
  }

  /* Testimonial */

  .testimonial-para:last-child {
    padding-bottom: 3.6rem;
  }

  /* Footer */

  .grid-3-col {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;

    grid-template-areas:
      "a"
      "b"
      "c";
  }

  .footer-left-col {
    grid-area: a;
  }

  .footer-mid-col {
    grid-area: b;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-right-col {
    grid-area: c;
  }
}
