/* Navigation */
nav {
  background-color: var(--clr-accent-purple);
}

.nav-wrapper {
  font-family: "parisine-std";
  font-size: var(--fs-body);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 3rem;
}

.logo {
  height: 100px;
  max-width: 100%;
}

.nav-wrapper ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-link {
  font-family: "Parisine-std";
  color: var(--clr-dark-purple);
}

.nav-btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  background-color: var(--clr-light-purple);
  box-shadow: 6px 5px 0px var(--clr-light-grey);
  color: var(--clr-white);
}

/* hero */

.hero {
  background-image: url(img/colorful_bg_dc.jpg);
  /* min-height: 1200px; */
  min-height: clamp(950px, 50vmax, 1200px);
  margin-bottom: 2rem;
}

.hero-shape {
  clip-path: polygon(
    50% 18%,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 0
  );
  display: inline-block;
  position: absolute;

  min-height: clamp(700px, 50vmax, 650px);
  /* height: min(700px, 85vh); */
  width: min(950px, 50vw);
  background-color: var(--clr-bg-accent-yellow);
  opacity: 0.6;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.hero-img {
  height: 18rem;
  max-width: 18rem;
}

.hero-text-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  z-index: 1;
}

.hero-text-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-header {
  font-size: var(--fs-accent);
}

.words {
  font-family: "parisine-std";
  font-size: var(--fs-logo);
  color: var(--clr-accent-pink);
  text-transform: uppercase;
}

.words::before {
  content: "";
  animation: topToBottom 6s infinite 0s;
}
/* animation to change words */
@keyframes topToBottom {
  0% {
    content: "Transmitter";
  }

  40% {
    content: "Brand Builder";
  }

  60% {
    content: "Creative";
  }

  80% {
    content: "Storyteller";
  }

  100% {
    content: "Dreamer";
  }
}

.hero-subhead {
  font-size: var(--fs-body);
  text-transform: capitalize;
}

.hero-desc-text {
  color: var(--clr-dark-grey);
  font-size: clamp(var(--fs-body) 1.5vw var(--fs-accent));
  width: min(600px, calc(50% + 100px));
  /* max-width: 75ch; */
}

.hero-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-btn-left {
  background: var(--clr-dark-purple);
  color: var(--clr-white);
}
.hero-btn-right {
  background: var(--clr-accent-purple);
  color: var(--clr-light-purple);
}

/* information section */

.information {
  position: relative;
  align-self: center;
  max-width: 100%;
  height: 880px;
  overflow: hidden;
}

.info-decor-top {
  position: absolute;
  transform: rotate(-35deg);
  left: -3rem;
}

.info-decor-bottom {
  position: absolute;
  transform: rotate(25deg);
  right: 0rem;
  bottom: 5rem;
}

.deco-img-bg {
  object-fit: cover;
  position: absolute;
  transform: rotate(180deg);
  opacity: 0.2;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.information-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  z-index: 1;
}

.information-para {
  max-width: 75ch;
}

.information-subheading {
  color: var(--clr-accent-pink);
}

.information-button {
  background-color: var(--clr-accent-pink);
}

/* BG Amy Pic */

.amy-pic-wrap {
  background-image: url(/img/AmyKeller112_lrg.jpg);
  min-height: 1000px;
  display: block;
}

/* About Amy */

.about {
  padding-inline: min(5rem, 7rem);
}

.about-row {
  /* background-color: var(--clr-accent-blue); */
  display: flex;
  gap: 2rem;
  position: relative;
  padding: 2rem 0;
}

.about-subheading {
  color: var(--clr-accent-pink);
  font-weight: var(--fw-bold);
}

.about-deco {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -90px;
  top: calc(-94px + 3rem);
  opacity: 0.26;
}

.about-para-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.about-para {
  max-width: 75ch;
}

.about-btn,
.about-subheading,
.about-para-wrapper {
  margin-block: 1rem;
}

.about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-btn {
  background-color: var(--clr-accent-blue);
}

.about-subsection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid var(--clr-light-grey);
}

.about-subsection-top {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  background-color: var(--clr-accent-blue);
  padding: 1rem 5rem;
}

.about-subsection-heading {
  text-transform: uppercase;
  font-size: var(--fs-heading);
  color: var(--clr-accent-pink);
}

.about-subtitle {
  color: var(--clr-white);
}

.about-columns {
  justify-content: space-evenly;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 0.5rem;
}

.about-span {
  font-size: var(--fs-heading);
}
.about-wrapper li {
  font-size: var(--fs-body);
}
.about-wrapper * {
  color: var(--clr-dark-purple);
}

.about-icon {
  height: 6rem;
  width: 6rem;
}

/* Process Subsection */

/* CTA Mid */

.cta-mid {
  background-image: url(img/MMS\ -\ Gradient\ Strip.png);
  background-position: left center;
  background-size: cover;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: min(15rem, 18rem);
  gap: 2rem;
  text-align: center;
  z-index: 1;
}

.heading-two-cap {
  text-transform: uppercase;
}

.cta-header {
  color: var(--clr-dark-purple);
}

.cta-para {
  max-width: 65ch;
  color: var(--clr-dark-purple);
}

.cta-button {
  background-color: var(--clr-dark-purple);
  color: var(--clr-white);
}

.cta-deco {
  width: 400px;
}
.cta-deco {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.cta-decor {
  box-shadow: 0px, 0px, 5px, 10px, var(--clr-dark-purple);
}

/* results */

.results-wrapper {
  display: grid;
  grid-template-rows: 30% 40% 30%;
}

.results-img-bottom {
  position: absolute;
  left: 5%;
  transform: rotate(25deg);
}

.results-top-img-wrapper {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
}

.results-bottom-img-wrapper {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
}

.results-img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.results-mid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding-inline: clamp(2rem, 0.667rem + 2.96vw, 4rem);
}

.results-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.results-subheader {
  color: var(--clr-accent-pink);
}

.results-sub-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1.75rem;
  overflow: hidden;
}

.desc-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.icon-img {
  height: 120px;
  width: 120px;
}

.object-subheading {
  width: 100%;
  background-color: var(--clr-bg-accent-yellow);
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-accent-pink);
  font-family: "botanica";
}

.cta-results-btn {
  background-color: var(--clr-accent-pink);
  color: white;
}

/* Testimonial Carousel */

.title {
  color: var(--clr-dark-purple);
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "botanica";
}

.carousel {
  position: relative;
}

.carousel-item {
  height: 600px;
  background-color: var(--clr-bg-accent-yellow);
  padding: 3rem 6rem;
  font-family: inherit;
  display: none;
}

.carousel-item-selected {
  display: block;
}

.carousel-nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* these are circles at the bottom of the carousel */
.carousel-button {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: rgba(5, 5, 5, 0.2);
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
}

.carousel-button-selected {
  background-color: black;
}

.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
  padding-inline: min(10rem, 15rem);
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.testimonial-header {
  color: var(--clr-dark-purple);
  text-transform: uppercase;
}
