/* Navigation */
nav {
  background-color: var(--clr-accent-purple);
}

.nav-wrapper {
  font-family: "parisine-std";
  font-size: var(--fs-body);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 3rem;
}

.logo {
  height: 100px;
  max-width: 100%;
}

.nav-wrapper ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-link {
  font-family: "Parisine-std";
  color: var(--clr-dark-purple);
}

.nav-btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  background-color: var(--clr-light-purple);
  color: var(--clr-white);
}

/* hero */

.hero {
  background-image: url(img/colorful_bg_dc.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
  /* height: 110vh; */
  height: 1200px;
}

.hero-shape {
  content: "";
  clip-path: polygon(
    50% 18%,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 0
  );
  display: inline-block;
  position: absolute;

  height: min(700px, 85vh);
  width: min(950px, 50vw);
  background-color: var(--clr-bg-accent-yellow);
  opacity: 0.6;
  box-shadow: 0px 0px 8px 5px var(--clr-box-shadow-grey);
  top: 35%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.hero-img {
  height: 20rem;
  max-width: 20rem;
}

.hero-text-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  z-index: 1;
}

.hero-text-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.hero-header {
  font-size: var(--fs-logo);
}

.hero-desc-text {
  color: var(--clr-dark-grey);
  font-size: clamp(var(--fs-body) 1.5vw var(--fs-accent));
  width: min(600px, calc(50% + 100px));
  max-width: 75ch;
}

.hero-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-btn-left {
  background-color: var(--clr-dark-purple);
  color: var(--clr-white);
}
.hero-btn-right {
  background-color: var(--clr-accent-purple);
  color: var(--clr-light-purple);
}

/* information section */

.information {
  position: relative;
  align-self: center;
  max-width: 100%;
  height: 1000px;
  overflow: hidden;
}

.info-decor-top {
  position: absolute;
  transform: rotate(-35deg);
  left: -3rem;
}

.info-decor-bottom {
  position: absolute;
  transform: rotate(25deg);
  right: 0rem;
  bottom: 10rem;
}

.deco-img-bg {
  object-fit: cover;
  position: absolute;
  transform: rotate(180deg);
  opacity: 0.3;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.information-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  z-index: 1;
}

.information-para {
  max-width: 75ch;
}

.information-subheading {
  color: var(--clr-accent-pink);
}

/* About Amy */

.about-wrapper {
  position: relative;
  display: flex;
  gap: 5rem;
}

.about-deco {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -90px;
  top: -85px;
  opacity: 0.46;
}

.about-subheading {
  color: var(--clr-accent-pink);
  font-weight: var(--fw-bold);
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.about-para-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-para {
  max-width: 75ch;
}

.about-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 0.5fr); */
}

.about-img {
  width: 100%;
  /* height: 60rem; */
  object-fit: cover;
}

/* CTA Mid */

.cta-mid {
  background-image: url(img/MMS\ -\ Gradient\ Strip.png);
  background-position: left center;
  background-size: cover;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: min(15rem, 18rem);
  gap: 2rem;
  text-align: center;
  z-index: 1;
}

.heading-two-cap {
  text-transform: uppercase;
}

.cta-header {
  color: var(--clr-accent-pink);
}

.cta-para {
  max-width: 70ch;
  color: var(--clr-dark-purple);
}

.cta-button {
  background-color: var(--clr-dark-purple);
  color: var(--clr-white);
}

.cta-deco {
  width: 400px;
}
.cta-deco {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -25%);
}
